.chatperson{
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 4px;
}
.chatperson:hover{
  text-decoration: none;
  border-bottom: 1px solid orange;
}
.namechat {
    display: inline-block;
    vertical-align: middle;
}
.chatperson .chatimg img{
  width: 40px;
  height: 40px;
}
.chatperson .pname{
  font-size: 18px;
  padding-left: 5px;
}
.chatperson .lastmsg{
  font-size: 12px;
  padding-left: 5px;
  color: #ccc;
}
.limit-item {
    height: 50%;
}
.messageclass{

    padding:3px;
}
.messagedivcls{
    
    height: 290px;
    width: 250px;
    padding: 20px;
    overflow-y: scroll;
    margin-left: 210px;
   
}

/* Button used to open the chat form - fixed at the bottom of the page */

.float{

    position:fixed;
    z-index: 100;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#2f4a96;
    color:#ffffff;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:25px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 40px;
  padding: 6px;
  right: 15px;
  height: 60%;
  /*width: 25%;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border: 3px solid #f1f1f1;
  z-index: 100;
}

.top-buffer { 
    margin-top:20px; 
}
.sendmessageWrap{

    padding: 5px;
    margin-left: 145px;
    margin-top: 8px;
}
.custombt{
    position:fixed;
    bottom:60px;
    right:40px;
}
.outlined{
    outline: 0.5px solid grey;
}
.custominput{

    width: 200px;
    height: 30px;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.messageSendclass{

    float: right;
    padding: 8px;
    background-color: #7790d4;
    border-radius: 4px;
    margin: 8px 0 0 8px;
    clear: right;
    min-width: 100px;
}
.messagereplyclass{

    float: left;
    padding: 8px;
    background-color: #d9d9d9;
    border-radius: 4px;
    margin: 8px 0 0 8px;
    clear: left;
    min-width: 100px;
    /*margin-left: 210px;*/
}

.buttonStylecus{

    border-radius: 4px;
    padding: 10px 40px;
}
.buttonStylesendcus{
    border-radius: 4px;
    padding: 6px 19px;
    background-color: #8585ad;
    margin-left: 36px;
}
.customReg{
    overflow: auto;
    width: 190px;
}
.vl {
  border-left: 3px solid #7790d4;
  height: 490px;
  margin-left: 165px;
  margin-top: -190px;
}
.customFormLi{
    color: black;
    border-radius: 3px;
    background-color: lightgrey;
}
.customFormLi:hover{
    background-color: darkgrey;
}
.customNotification{
    width: 96%;
    margin: 5px;
    text-align: -webkit-left;
    padding: 15px;
    background-color: lightslategrey;
}
.notifiwrap{
    overflow-y: scroll;
    min-width: 300px;
    max-width: 450px;
    min-height: 200px;
    max-height: 250px;
    margin: 15px;
}
.customnotifiInput{

    width: 350px;
    margin: 20px;

}
.buttonStylesendcusNot{
    border-radius: 4px;
    padding: 9px 26px;
    background-color: #676786;
    margin-left: 380px;
    margin-top: -96px;
}

/*.chatPerson{
    margin-left: 335px;
}*/
.buttonclosechat{
    background-color: indianred; 
    padding: 5px 14px;
    color: white;
    border: none;
    margin-left: 2px;
}
.buttonclosechat:hover{
    background-color: #990000; 
}
.errormsgchat{

    color: red;
    clear: both;

}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}